.s{
    position: absolute;
    color: #593A3A;
    font-family:'Times New Roman', Times, serif;
    top:175% ;
    left: 55%;
font-size: 700%;
}
.pb{ position: absolute;
    color: #593A3A;
    font-family:'Times New Roman', Times, serif;
    top:280% ;
    left: 55%;
font-size: 700%;}
.pp{
    position: absolute;
    color: #593A3A;
    font-family:'Times New Roman', Times, serif;
    top:395% ;
    left: 55%;
font-size: 700%;
}
.cb{position: absolute;
    color: #593A3A;
    font-family:'Times New Roman', Times, serif;
    top:490% ;
    left: 55%;
font-size: 700%;}
.bc{
    position: absolute;
    color: #593A3A;
    font-family: 'Times New Roman', Times, serif;
    top:610% ;
    left: 55%;
font-size: 700%;
}
